<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:backend="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<tr>
    <td>
        <core:icon identifier="apps-pagetree-page" size="small" />
        <a href="{be:moduleLink(route: 'web_layout', arguments: '{id: item.uid}')}"
            target="_blank"
            title="ID {item.uid}">
            {item.pageTitle}
        </a>
    </td>
    <td>
        {item.pageSlug}
    </td>
    <td class="text-nowrap">
        <f:variable name="changeSummary">
            {f:translate(key: 'widgets.stale_pages.last_page_change', extensionName: 'XimaTypo3ContentAudit')}
            {item.lastPageChange -> f:format.date(format: 'd.m.Y H:i')}
            –
            {f:translate(key: 'widgets.stale_pages.last_content_change', extensionName: 'XimaTypo3ContentAudit')}
            {item.lastContentChange -> f:format.date(format: 'd.m.Y H:i')}
        </f:variable>
        <span title="{changeSummary}">
            <f:format.date format="d.m.Y H:i">{item.updated}</f:format.date>
        </span>
    </td>
</tr>

</html>
