# yamllint disable rule:line-length
---
parameters:
  xima_typo3_content_audit.widgets.stale_pages.options:
    refreshAvailable: true
    excludePageUids: []
  xima_typo3_content_audit.widgets.fresh_pages.options:
    refreshAvailable: true
    excludePageUids: []
  xima_typo3_content_audit.widgets.hidden_pages.options:
    refreshAvailable: true
    excludePageUids: []
  xima_typo3_content_audit.widgets.hidden_content.options:
    refreshAvailable: true
    excludePageUids: []
  xima_typo3_content_audit.widgets.missing_image_fields.options:
    refreshAvailable: true
    missingField: 'alternative'

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Xima\XimaTypo3ContentAudit\:
    resource: '../Classes/*'

  Xima\XimaTypo3ContentAudit\Widgets\StalePages:
    class: 'Xima\XimaTypo3ContentAudit\Widgets\StalePages'
    arguments:
      $dataProvider: '@Xima\XimaTypo3ContentAudit\Widgets\Provider\MergedPageChangeDataProvider'
      $options: '%xima_typo3_content_audit.widgets.stale_pages.options%'
    tags:
      - name: dashboard.widget
        identifier: 'contentAuditStalePages'
        groupNames: 'content'
        title: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.stale_pages.title'
        description: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.stale_pages.description'
        iconIdentifier: 'content-audit-widgets-stale-pages'
        height: 'large'
        width: 'medium'

  Xima\XimaTypo3ContentAudit\Widgets\FreshPages:
    class: 'Xima\XimaTypo3ContentAudit\Widgets\FreshPages'
    arguments:
      $dataProvider: '@Xima\XimaTypo3ContentAudit\Widgets\Provider\MergedPageChangeDataProvider'
      $options: '%xima_typo3_content_audit.widgets.fresh_pages.options%'
    tags:
      - name: dashboard.widget
        identifier: 'contentAuditFreshPages'
        groupNames: 'content'
        title: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.fresh_pages.title'
        description: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.fresh_pages.description'
        iconIdentifier: 'content-audit-widgets-fresh-pages'
        height: 'medium'
        width: 'medium'

  Xima\XimaTypo3ContentAudit\Widgets\HiddenPages:
    class: 'Xima\XimaTypo3ContentAudit\Widgets\HiddenPages'
    arguments:
      $dataProvider: '@Xima\XimaTypo3ContentAudit\Widgets\Provider\HiddenPagesDataProvider'
      $options: '%xima_typo3_content_audit.widgets.hidden_pages.options%'
    tags:
      - name: dashboard.widget
        identifier: 'contentAuditHiddenPages'
        groupNames: 'content'
        title: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.hidden_pages.title'
        description: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.hidden_pages.description'
        iconIdentifier: 'content-audit-widgets-hidden-pages'
        height: 'medium'
        width: 'medium'

  Xima\XimaTypo3ContentAudit\Widgets\HiddenContent:
    class: 'Xima\XimaTypo3ContentAudit\Widgets\HiddenContent'
    arguments:
      $dataProvider: '@Xima\XimaTypo3ContentAudit\Widgets\Provider\HiddenContentDataProvider'
      $options: '%xima_typo3_content_audit.widgets.hidden_content.options%'
    tags:
      - name: dashboard.widget
        identifier: 'contentAuditHiddenContent'
        groupNames: 'content'
        title: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.hidden_content.title'
        description: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.hidden_content.description'
        iconIdentifier: 'content-audit-widgets-hidden-content'
        height: 'medium'
        width: 'medium'

  Xima\XimaTypo3ContentAudit\Widgets\MissingImageFields:
    class: 'Xima\XimaTypo3ContentAudit\Widgets\MissingImageFields'
    arguments:
      $dataProvider: '@Xima\XimaTypo3ContentAudit\Widgets\Provider\MissingImageFieldsDataProvider'
      $options: '%xima_typo3_content_audit.widgets.missing_image_fields.options%'
    tags:
      - name: dashboard.widget
        identifier: 'contentAuditMissingImageFields'
        groupNames: 'content'
        title: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.missing_image_fields.title'
        description: 'LLL:EXT:xima_typo3_content_audit/Resources/Private/Language/locallang.xlf:widgets.missing_image_fields.description'
        iconIdentifier: 'content-audit-widgets-missing-image-fields'
        height: 'medium'
        width: 'medium'

