<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:dashboard="http://typo3.org/ns/TYPO3/CMS/Dashboard/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{version} < 13">
    <div class="widget-content-title d-flex" style="gap:10px;">
        <core:icon identifier="content-audit-widgets-stale-pages" size="small"/>
        <span><f:translate key="widgets.missing_image_fields.title" extensionName="XimaTypo3ContentAudit"/></span>
    </div>
</f:if>
<div class="widget-content-main x--content-audit-widget--main" style="--mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 0) 100% 90% / 100% 100% repeat-x;-webkit-mask: var(--mask);mask: var(--mask);">
    <f:if condition="{records}">
        <f:then>
            <div class="mb-3">
                <f:translate key="widgets.missing_image_fields.results" extensionName="XimaTypo3ContentAudit" arguments="{0: missingFieldLabel}" />
                <f:translate key="widgets.missing_image_fields.count" extensionName="XimaTypo3ContentAudit" arguments="{missingFieldCount: missingFieldCount, totalCount: totalCount}"/>
            </div>
            <div class="widget-table-wrapper">
                <table class="widget-table {f:if(condition: '{version} == 13', then: 'table')} table-striped table-hover">
                    <thead>
                    <tr>
                        <th><f:translate key="widgets.missing_image_fields.image" extensionName="XimaTypo3ContentAudit"/></th>
                        <th><f:translate key="widgets.missing_image_fields.path" extensionName="XimaTypo3ContentAudit"/></th>
                        <th><f:translate key="widgets.missing_image_fields.preview" extensionName="XimaTypo3ContentAudit"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{records}" as="record">
                        <f:render partial="ImageItem" arguments="{item: record}"/>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="row widget-no-items-found">
                <div class="col-xs-12">
                    <p>
                        <f:translate key="widgets.missing_image_fields.empty" extensionName="XimaTypo3ContentAudit"/>
                    </p>
                </div>
            </div>
        </f:else>
    </f:if>
</div>

</html>
